lunch-day-alegra/node_modules
lunch-day-alegra/public/hot
lunch-day-alegra/public/storage
lunch-day-alegra/storage/*.key
lunch-day-alegra/vendor
lunch-day-alegra/.idea
lunch-day-alegra/.vscode
lunch-day-alegra/.vagrant
lunch-day-alegra/Homestead.json
lunch-day-alegra/Homestead.yaml
lunch-day-alegra/npm-debug.log
lunch-day-alegra/yarn-error.log
lunch-day-alegra/.env
lunch-day-alegra/.phpunit.result.cache
/nbproject
lunch-day-alegra/nbproject
/lunch-day-alegra/nbproject/private/
dbdata
